.construction-wrapper {
  display: flex;
  justify-content: center;
}

.construction-title__white {
  font-size: 120px;
  color: #fff;
  font-weight: 700;
  margin: 350px auto 0px;
  text-align: center;
}

/* responsive */
@media (min-width: 320px) and (max-width: 768px) {
  .construction-title__white {
    font-size: 24px;
    margin-top: 245px;
  }
}