*,
*:after,
*:before {
  padding: 0px;
  margin: 0px;
}

body {
  box-sizing: border-box;
  background-color: rgb(21, 32, 43);
  font-family: 'Lato', sans-serif;
  height: 100%;
}

/* .main-home {
  height: calc(100vh - 55px)
} */